* {
    user-select: none;
}

html, body {
    overflow: hidden;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/default-background.png');
    background-size: cover;
    background-repeat: repeat;
}

canvas {
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* General*/
.color-link {
    color: #61bfd8;
}

.color-borrder {
    font-weight: bold;
}

.clickable-anim {
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s; /* Safari */
}

.clickable-anim:hover {
    background-color: #eeeeee;
}

*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background   : #ededed;
}

/* Title */
.content .title {
    position: absolute;
    height: 40px;
    width: 100%;
}

.content .title .title-dragable {
    position: absolute;
    height: 40px;
    width: 1080px;
    -webkit-app-region: drag;
}

.content .title .title-txt {
    float: left;
    margin-left: 5px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
}

.content .title .title-logo {
    float: left;
    margin: 10px;
    height: 20px;
    width: 20px;
}

.content .title .btn-function {
    float: right;
    height: 40px;
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s; /* Safari */
}

.content .title .btn-function:hover {
    cursor: pointer;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
}

.content .title .btn-function .btn-func-close {}

.content .title .btn-func-setting {
    padding: 6px;
}

.content .title .btn-func-refresh {
    padding: 5px;
}

/* Lottery */
.lottery {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.lottery-core {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 34px;
    font-family: monospace;
    font-weight: bold;
    border: 2px solid white;
    overflow: hidden;
}

#test-slider {
    height: 30px;
}

.lottery-start {
    width: 100px;
    height: 20px;
    line-height: 20px;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari and Chrome */
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

#lottery-file {
    display: none;
}

.lottery .lottery-current-file {
    text-align: right;
    color: white;
    font-size: 13px;
}

/* item展示 */
.rest-display {
    position: absolute;
    top: 40px;
    right: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
}

.rest-display-title {
    position: absolute;
    width: 80%;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 32px;
    color: white;
    font-size: 12px;
    font-family: "黑体";
    white-space: nowrap;
}

#rest-display-field {
    position: absolute;
    width: 80%;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding: 10px;
    color: white;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.btn-rest-display {
    position: absolute;
    top: 40px;
    height: 100%;
    width: 30px;
    right: 0;
    overflow: hidden;
}

.btn-rest-display img {
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari and Chrome */
    cursor: pointer;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s; /* Safari */
}

.btn-rest-display .btn-anim-rest-display {
    transform: rotateY(180deg) translate(0, -50%);
	-webkit-transform: rotateY(180deg) translate(0, -50%); /* Safari and Chrome */
}

/* 连抽 */
.btn-muti-lottery {
    float: right;
    color: white;
}

.muti-lottery {
    position: absolute;
    height: 100%;
    top: 40px;
    width: 0px;
    overflow-x: hidden;
}

.muti-lottery-content {
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
}

.muti-lottery-content .input-field {
    width: 200px;
}

.muti-lottery-content .input-field input{
    color: white;
}

.muti-lottery-content .input-field label{
    color: white;
    font-weight: bold;
}

.muti-display-title {
    color: white;
    font-size: 12px;
    font-family: "黑体";
    white-space: nowrap;
}

.muti-lottery-content #muti-display-field {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding: 10px;
    color: white;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.muti-lottery-content #reset-data {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    z-index: 1;
}

/* Setting */
.cha-btn-settings {
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s; /* Safari */
}

.cha-btn-settings:hover {
    cursor: pointer;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
}

.cha-settings-main {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
    overflow-y: auto;
    z-index: 10;
}

.st-content {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background: #efefef;
    border-radius: 10px;
}

.st-file {
    position: relative;
    width: 100%;
    height: 150px;
}

.st-options-p1 {
    position: absolute;
    top: 160px;
    width: 50%;
}

.st-options-p2 {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 50%;
}

.st-confirm {
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    top: 345px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari and Chrome */
}

.st-confirm .btn-st-confirm {
    width: 200px;
}

#lottery-file-dropbox {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#lottery-file-dropbox img {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari and Chrome */
}

#lottery-file-dropbox div {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

/* Cover */
.dark-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.dark-cover-title{
    position: absolute;
    width: 100%;
    height: 40px;
    background: black;
    opacity: 0.2;
}

.dark-cover-muti-lottery {
    position: fixed;
    height: 100%;
    width: 0px;
    background: black;
    opacity: 0.2;
}

.dark-cover-rest-display {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.2;
}

/* .dark-cover-btn-rest-display {
    position: fixed;
    height: 100%;
    width: 40px;
    background: black;
    opacity: 0.2;
} */
/* Plugins */
.dg.ac {
    top: 40px !important;
}

.dg .c select {
    display: inline-block;
    height: auto;
    padding: 0px;
}

.dg .c input {
    font-size: auto;
    height: 13.3333px;
    font-size: 13.3333px;
    margin: 0px;
}

.dg .c input[type="checkbox"] {
    opacity: inherit;
}
