
temp.txt
yarn.lock
dist/win-unpacked/v8_context_snapshot.bin
dist/win-unpacked/Surprise.exe
dist/win-unpacked/snapshot_blob.bin
dist/win-unpacked/resources/elevate.exe
dist/win-unpacked/resources/app.asar
dist/win-unpacked/resources/app-update.yml
dist/win-unpacked/natives_blob.bin
dist/win-unpacked/LICENSES.chromium.html
dist/win-unpacked/LICENSE.electron.txt
dist/win-unpacked/config.json
dist/latest.yml
dist/builder-effective-config.yaml
dist/.icon-ico/icon.ico
*.exe
*.blockmap
*.zip
*.pak
*.dll
*.dat
dist/win-unpacked/icon.png
